body{
    padding-bottom: 20%;
}
h1{
    margin-top: 4%;
}
p{
    font-size: 115%;
    word-spacing: .15em;
}
h2{
    color: #009dfb;
}
.about{
  font-size: 20px;
  width: 50%;
  margin-left: 15%;
}
  @media (max-width: 767.98px) {
    .about{
    width: 80%;
  }
}
@media (max-width: 991.98px) {
  .about{
    width:70%;
  }
}
/*
@media (min-width: 768px) {
  .about{
    text-align: justify;
  }
}
*/
