body{
    padding-bottom: 20%;
}
h1{
    margin-top: 4%;
}
p{
    font-size: 115%;
    word-spacing: .15em;
}
h2{
    color: #009dfb;
}
@media (min-width: 576px) {
  .about-tb-container{
    margin-left: 17%;
  }
}
