body{
    margin: 0;
    padding: 0;
    font-family: 'Pangolin',sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: black;
}

.logo{
    width: 50px;
    height: 33px;
    margin-bottom: 12px;
}

p{
    color: #555;
    word-spacing: 4px;
    font-size: 2em;
}

span{
    color: #555;
    word-spacing: 4px;
}

#header-nav {
    border-radius: 0;
    border: 0;
}


.navbar-default .navbar-nav>.active>a{
    background-color: transparent;
}


.container> h2{
    margin-bottom: 30px;
    color: #337ab7;
}

.navbar-brand{
    font-family: 'Pangolin',sans-serif;
    margin-top: 0;
    padding-top: 0;
    height: auto;
}


.navbar-brand a:hover, a:focus{
    text-decoration: none;
}

.navbar-brand a h1:hover, a h1:focus{
    color: #3fd6fb;
}

.navbar-brand a h1{
    color: #555;
}

.navbar-toggle{
    margin-top: 20px;
}

h2{
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}


.active a{
    font-size: 2em;
}

#nav-list .active a:hover{
    color: #3fd6fb;
    background-color: transparent;
}


.button{
    border: none;
    padding: 10px 25px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
    margin: none;
}

.button1{
    background-color: #009dfb;
    margin-bottom: 5%;
    margin-top: 5%;
}

.button1 a{
    text-decoration: none;
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    #nav-list{
        float : right;
        margin-top: 20px;
    }
    .active a{
        margin-top: .3em;
    }
}

#nav-list{
    float: center;
}

.welcome-note > h2{
    margin-top: 10%;
}

.welcome-note > h3{
    margin-top: 3%;
    margin-bottom: none;
}



