#nav-list .scanner a{
    color: #3fd6fb;
}

.para-space{
    margin-bottom: 30px;
}

strong{
    color: red;
}

h1{
    color: #555;
}


.scan-manu{
    display: none;
    margin-top: 3em;
    cursor: pointer;
}



.scan-items{
    float: left;
}

.scan-items ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px; 
    background-color: #ecf9fc;
}

.scan-items ul li{
    font-size: 2em;
    font-weight: 300;
    list-style: none;
    padding: .7em 1.5em .7em 1.5em;
}

.scan-items ul li a{
    text-decoration: none;
    color: #555;
}

 .scanning{
    display: none;
    margin-top: 20em;
    margin-bottom: 12em;
 }


//basicScan




.your-ip-here{
    color: #555;
}

.your-ip-here .border{
    border: 1px solid #017bff;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 50px;
    position: relative;
    left: 10px;
}

.bold{
    font-size: 2.5em;
    font-weight: bold;
}

.normal{
    font-weight: normal;
    font-size: 2em;
}

.basic-scan{
    display: none;
}

//autofill

.autofill-scan{
}

//user-accounts

.user-accounts-scan{
}

//system

.system-scan{
}

//fingerprinting

.fingerprinting-scan{
}
